.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2004px;
}

.u-section-1 .u-group-1 {
  min-height: 92px;
  width: 1140px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 940px 0 -14px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px 754px 0 171px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px 570px 0 356px;
}

.u-section-1 .u-image-1 {
  height: 279px;
  margin-top: -25px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 31px 337px 0 390px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 30px 442px 0 495px;
}

.u-section-1 .u-list-1 {
  min-height: 1250px;
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  width: 936px;
  grid-gap: 50px 50px;
  margin: 66px 86px 60px auto;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-text-6 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-text-8 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-text-10 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-text-12 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-text-14 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-text-15 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-7 {
  padding: 20px;
}

.u-section-1 .u-text-16 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-8 {
  padding: 20px;
}

.u-section-1 .u-text-18 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-text-19 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-9 {
  padding: 20px;
}

.u-section-1 .u-text-20 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

.u-section-1 .u-text-21 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-10 {
  padding: 20px;
}

.u-section-1 .u-text-22 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-7 {
  padding: 0;
}

.u-section-1 .u-text-23 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-11 {
  padding: 20px;
}

.u-section-1 .u-text-24 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-8 {
  padding: 0;
}

.u-section-1 .u-text-25 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1880px;
  }

  .u-section-1 .u-group-1 {
    min-height: 77px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 732px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 557px;
    margin-left: 169px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 373px;
    margin-left: 354px;
  }

  .u-section-1 .u-image-1 {
    height: 272px;
    margin-top: -18px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 78px;
    margin-right: 283px;
    margin-left: 250px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 29px;
    margin-right: 402px;
    margin-left: 368px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1026px;
    height: auto;
    margin-top: 64px;
    margin-right: 4px;
    margin-bottom: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2936px;
  }

  .u-section-1 .u-group-1 {
    min-height: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-right: 498px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 298px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 77px;
    margin-left: 429px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 30px;
    margin-right: 173px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 292px;
    margin-left: 261px;
  }

  .u-section-1 .u-list-1 {
    min-height: 2297px;
    grid-template-columns: 100%;
    margin-top: 90px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2886px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    min-height: 69px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 23px;
    margin-right: 353px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 14px;
    margin-left: 350px;
  }

  .u-section-1 .u-text-3 {
    width: 154px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -12px;
  }

  .u-section-1 .u-text-4 {
    width: 384px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 202px;
    margin-left: 184px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 65px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3579px;
  }

  .u-section-1 .u-group-1 {
    min-height: 148px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 98px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 98px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 102px;
    margin-left: 83px;
  }

  .u-section-1 .u-list-1 {
    min-height: 2832px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}